<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
	<system.web>
    
      <customErrors mode="Off"/>
    
		<compilation debug="true" targetFramework="4.0">
			<assemblies>
				<add assembly="System.Web.Extensions.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
				<add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
				<add assembly="System.Windows.Forms, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/></assemblies></compilation>
	</system.web>
	<appSettings>
		<add key="default" value="Server=f0a8de74-62be-453b-9415-a3dd008c9c4f.sqlserver.sequelizer.com;Database=dbf0a8de7462be453b9415a3dd008c9c4f;User ID=embjyqnwzaqbahdl;Password=bHG5rtEmrVJBPKCm6z2qAhHPRbjrNVsviXgufstY8ZdjcdnsEzeHyY82aZnqjnFD;"/>
	</appSettings>
</configuration>
